  .imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
  }
  progress.xp {
    width: 100px;
    -webkit-appearance: none;
   appearance: none;

  }
progress.xp::-webkit-progress-value{
    background:red;
}

  .imageupload__button {
    margin: 10px;
    height: 30px;
  }
  